{% extends "layout_dashboard.jinja2" %}
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" class="template-customizer-core-css" />
{% endblock %}
{% block content %}
<!-- Basic Bootstrap Table -->
<div class="container-xxl flex-grow-1 container-p-y">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Admin Prodi</h5>
                    <button type="button" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modalCenter">Tambah Akun</button>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Prodi</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for prodi in data_admin_prodi %}
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> {{loop.index}}</td>
                                <td>{{prodi.User.name}}</td>
                                <td>{{prodi.Prodi.nama_prodi}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);"
                                            ><i class="bx bx-key me-1"></i> Reset Password</a
                                            >
                                            <a class="dropdown-item" href="/prodi/delete_admin/{{prodi.User.id}}"
                                            ><i class="bx bx-trash me-1"></i> Hapus Akun</a
                                            >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--/ Basic Bootstrap Table -->
<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Tambah Admin Prodi</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
        </div>
        <form action="{{ url_for('prodi_bp.admin_prodi') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="modal-body">
                <fieldset class="prodi col mb-3">
                    {{ form.prodi.label(class="form-label") }}
                    {{ form.prodi(class='form-control') }}
                    {% if form.prodi.errors %}
                    <ul class="errors">
                        {% for error in form.prodi.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="name col mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(placeholder='Nama Lengkap', class="form-control") }}
                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="email col mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(placeholder='youremail@example.com', class="form-control") }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="password col mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset class="confirm col mb-3">
                    {{ form.confirm.label(class="form-label") }}
                    {{ form.confirm(class="form-control") }}
                    {% if form.confirm.errors %}
                    <ul class="errors">
                        {% for error in form.confirm.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Batal
                </button>
                <div class="submit-button">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
    {% block additionalscripts %}
        <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/js/select2.min.js') }}"></script>

        <script>
            $(document).ready(function() {
                $('.my_selection').select2();
                $('.select2-selection__arrow').removeClass('select2-selection__arrow')
                $('.select2-selection').css('border', 0)
                $('#search_menu').on('change', function() {
                    document.location.href = $(this).val()
                })
            });
        </script>
    {% endblock %}
{% endblock  %}
