{% extends "layout_dashboard.jinja2" %}
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" class="template-customizer-core-css" />
{% endblock %}
{% block content %}
<!-- Basic Bootstrap Table -->
<div class="container-xxl flex-grow-1 container-p-y">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Program Studi</h5>
                    <i class="bx bxs-graduation bx-border-circle bx-lg mb-2"></i>
                    <p class="card-text">Tambah, hapus atau edit data program studi.</p>
                    <a href="{{ url_for('prodi_bp.prodi') }}" class="btn btn-primary">Kelola Prodi</a>
                </div>
                <div class="card-footer text-muted">2 data prodi tersedia</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Admin Program Studi</h5>
                    <i class="bx bxs-user bx-border-circle bx-lg mb-2"></i>
                    <p class="card-text">Tambah, hapus atau edit data admin program studi.</p>
                    <a href="{{ url_for('prodi_bp.admin_prodi') }}" class="btn btn-primary">Kelola Admin Prodi</a>
                </div>
                <div class="card-footer text-muted">2 data admin prodi tersedia</div>
            </div>
        </div>
    </div>
    
</div>
<!--/ Basic Bootstrap Table -->

    {% block additionalscripts %}
        <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/js/select2.min.js') }}"></script>

        <script>
            $(document).ready(function() {
                $('.my_selection').select2();
                $('.select2-selection__arrow').removeClass('select2-selection__arrow')
                $('.select2-selection').css('border', 0)
                $('#search_menu').on('change', function() {
                    document.location.href = $(this).val()
                })
            });
        </script>
    {% endblock %}
{% endblock  %}
