{%extends "layout_dashboard.jinja2" %}
{%block pagestyles %}

{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Laporan hasil prediksi</h5>
            <a href="/excel/download"s class="btn btn-sm btn-secondary float-end"><i class="bx bx-export"></i> Download Excel</a>
        </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <fieldset class="nim form-label">
                        {{ form.prodi(class='form-control my_selection') }}
                        {% if form.prodi.errors %}
                        <ul class="errors">
                            {% for error in form.prodi.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="nim form-label">
                        {{ form.batch_year(class='form-control my_selection') }}
                        {% if form.batch_year.errors %}
                        <ul class="errors">
                            {% for error in form.batch_year.errors %}
                            <li>{{ error }}</li>{% endfor %}
                        </ul>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Semester</th>
                        <th>Prodi</th>
                        <th>Relevan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for data in datas %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{data.nama}}</td>
                            <td>{{data.semester}}</td>
                            <td>{{data.prodi}}</td>
                            <td>{{data.relevan}}</td>
                            <td>
                                <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/report/rincian?nim={{data.nim}}"
                                    ><i class="bx bx-edit-alt me-1"></i> Rincian</a
                                    >
                                </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
