{%extends "layout_dashboard.jinja2" %}
{%block pagestyles %}

{% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mt-3">
        <div class="d-flex align-items-end row">
        <div class="col-8">
            <div class="card-body">
                <h6 class="card-title mb-1 text-nowrap">Data Identitas Mahasiswa</h6>
                <div class="row">
                    <div class="col-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">NIM</li>
                            <li class="list-group-item">Nama</li>
                            <li class="list-group-item">Jenis Kelamin</li>
                            <li class="list-group-item">Alamat</li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{mhs.nim}}</li>
                            <li class="list-group-item">{{mhs.name}}</li>
                            <li class="list-group-item">{% if mhs.gender %} Laki-laki {% else %} Perempuan {% endif %}</li>
                            <li class="list-group-item">
                                {% if mhs.address %}{{mhs.address}}{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3 ps-0">
            <img src="{{ url_for('static', filename='img/illustrations/prize-light.png') }}" width="90" height="140" class="rounded-start" alt="View Sales">
        </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <div class="card mt-3">
                <div class="d-flex align-items-end row">
                    <div class="card-body">
                        <h6 class="card-title mb-1 text-nowrap">Data Akademik</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">IPK</li>
                                    <li class="list-group-item">Pencapaian Prestasi</li>
                                </ul>
                            </div>
                            <div class="col-8">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{mhs.gpa_score}}</li>
                                    <li class="list-group-item">
                                        <ol>
                                            {% for pres in informasi_tambahan.prestasi %}
                                                <li>{{pres.nama_prestasi}} 
                                                {% if pres.jenis_prestasi == 3 %}
                                                    Tingkat Internasional
                                                {% elif pres.jenis_prestasi == 2 %}
                                                    Tingkat Nasional
                                                {% else %}
                                                    Tingkat Regional
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="d-flex align-items-end row">
                    <div class="card-body">
                        <h6 class="card-title mb-1 text-nowrap">Data Aktivitas & Organisasi</h6>
                        <ol>
                            <li>
                                <div class="row">
                                    <div class="col-5">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Nama Organisasi</li>
                                            <li class="list-group-item">Anggota/Pengurus</li>
                                        </ul>
                                    </div>
                                    <div class="col-7">
                                        {% for org in informasi_tambahan.organisasi %}
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{org.nama_organisasi}}</li>
                                            <li class="list-group-item">
                                            {% if org.peran_organisasi == 1 %}
                                                Anggota
                                            {% else %}
                                                Pengurus
                                            {% endif %}
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mt-3">
                <div class="d-flex align-items-end row">
                    <div class="card-body">
                        <h6 class="card-title mb-1 text-nowrap">Data Sosial & Ekonomi</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Pekerjaan Orang Tua</li>
                                    <li class="list-group-item">Penghasilan Orang Tua</li>
                                </ul>
                            </div>
                            <div class="col-8">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{mhs.pekerjaan_ortu}}</li>
                                    <li class="list-group-item">{{help.format_rupiah(mhs.parents_income)}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="d-flex align-items-end row">
                    <div class="card-body">
                        <h6 class="card-title mb-1 text-nowrap">Data Pengalaman & Pelatihan</h6>
                        <ol>
                            {% for serti in informasi_tambahan.sertifikat %}
                            <li>
                                <div class="row">
                                    <div class="col-5">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Nama Sertifikat</li>
                                            <li class="list-group-item">Jenis Sertifikat</li>
                                        </ul>
                                    </div>
                                    <div class="col-7">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{serti.nama_sertifikat}}</li>
                                            <li class="list-group-item">
                                                {% if serti.jenis_sertifikat == 1 %}
                                                    Tingkat Seminar/Webinar
                                                {% elif serti.jenis_sertifikat == 2 %}
                                                    Tingkat Kursus
                                                {% else %}
                                                    Tingkat Keahlian
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
      <div class="d-flex align-items-end row">
        <div class="col-4 pt-3 text-center">
          <img src="{{ url_for('static', filename='img/illustrations/superman-flying-light.png') }}" width="90" height="140" class="rounded-start" alt="View Sales">
        </div>
        <div class="col-8">
          <div class="card-body">
          <h6 class="card-title mb-1 text-nowrap">Kunci Keberhasilan</h6>
          <small class="d-block mb-3 text-nowrap">Kami telah mempelajari beberapa indikasi yang paling berpengaruh terhadap kausalitas<br/> mahasiswa dapat diproyeksikan mendapatkan pekerjaan yang relevan sesuai bidang studi atau tidak.<br/>
          Anda dapat mengevaluasinya dengan menjawab pertanyaan berikut.</small>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Bagaimana pencapaian prestasi yang didapat?</strong> <br/>Secara statistik mahasiswa ini sudah memiliki capaian yang cukup baik.</li>
                <li class="list-group-item"><strong>Bagaimana keaktifan mahasiswa dalam kegiatan perkuliahan dan kegiatan sosial seperti keikutsertaan organisasi dan ukm?</strong> <br/>Secara statistik mahasiswa ini aktif dalam kegiatan sosial seperti ikut serta dalam organisasi dan ukm</li>
                <li class="list-group-item"><strong>Apa saja pelatihan dan pengalaman yang pernah didapat dan dibuktikan dengan adanya sertifikat?</strong> <br/>Secara statistik mahasiswa ini telah memiliki pengalaman pelatihan yang cukup.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}
