{% extends "layout_dashboard.jinja2" %}
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" class="template-customizer-core-css" />
{% endblock %}
{% block content %}

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Data management /</span> Input data</h4>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" id="button-single-import" href="javascript:void(0);"
                        ><i class='bx bx-list-check'></i> Single Import</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="button-import-batch" href="javascript:void(0);"
                        ><i class='bx bx-file'></i> Import Batch<a>
                    </li>
                </ul>
            </div>
            <!-- Form controls -->
            <form action="{{ url_for('main_bp.input_data') }}" method="post" id="form-single-import">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0" class="card-header">Data Pencapaian Mahasiswa</h5>
                        </div>
                        
                        <div class="card-body">
                            <div class="mb-3">
                                <fieldset class="nim form-label">
                                    {# <label for="nim" class="form-label">{{ form.nim.label }}</label> #}
                                    {{ form.nim(class='form-control my_selection') }}
                                    {% if form.nim.errors %}
                                    <ul class="errors">
                                        {% for error in form.nim.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                    {% endif %}
                                </fieldset>
                            </div>

                            {% if api_mahasiswa %}
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="mt-2 text-muted">INFORMASI PRIBADI MAHASISWA</h6>
                                    <div class="card mb-4">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><div width="130px"><strong>Nama:</strong></div>
                                                <input name="nama" type="hidden" value="{{api_mahasiswa['nama_lengkap']}}" />
                                                {{api_mahasiswa['nama_lengkap']}}
                                            </li>
                                            <li class="list-group-item"><div width="130px"><strong>NIM:</strong></div>
                                                <input name="nim2" type="hidden" value="{{api_mahasiswa['nim']}}" />
                                                {{api_mahasiswa['nim']}}
                                            </li>
                                            <li class="list-group-item"><div width="130px"><strong>Prodi:</strong></div>{{api_mahasiswa['nama_prodi']}}</li>
                                            <li class="list-group-item"><div width="130px"><strong>Semester:</strong></div>{{api_mahasiswa['semester']}}</li>

                                            <input name="parents_income" type="hidden" value="{{api_mahasiswa['penghasilan_ayah']}}" />
                                            <input name="pekerjaan_ortu" type="hidden" value="{{api_mahasiswa['pekerjaan_ayah']}}" />
                                            <input name="jk" type="hidden" value="{{api_mahasiswa['jk']}}" />
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6" style="border-left:1px solid #ddd;">
                                    <h6 class="mt-2 text-muted">DATA PENCAPAIAN MAHASISWA</h6>

                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <label for="ipk">Nilai IPK</label>
                                            <input name="ipk" id="ipk" class="form-control" readonly value="">
                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <label for="prestasi" class="mb-3">Prestasi/Penghargaan</label>
                                            <div class="btn btn-warning btn-sm float-end" id="btn-plus-input-prestasi"><i class='bx bx-plus' ></i></div>
                                            <div class="btn btn-dark btn-sm float-end" id="btn-min-input-prestasi"><i class='bx bx-minus' ></i></div>

                                            {% for pencapaian in data_pencapaian[0] %}
                                            <div class="row input-prestasi">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama prestasi" id="prestasi" name="nama_prestasi" class="form-control" value="{{pencapaian.nama_prestasi}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="prestasi">
                                                        <option value="0">-- Pilih Jenis Prestasi --</option>
                                                        <option value="3" {% if (pencapaian.jenis_prestasi == 3) %} selected="selected" {% endif %}>Tingkat Internasional</option>
                                                        <option value="2" {% if (pencapaian.jenis_prestasi == 2) %} selected="selected" {% endif %}>Tingkat Nasional</option>
                                                        <option value="1" {% if (pencapaian.jenis_prestasi == 1) %} selected="selected" {% endif %}>Tingkat Regional</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            {% if not data_pencapaian[0] %}
                                                <div class="row input-prestasi">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama prestasi" id="prestasi" name="nama_prestasi" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="prestasi">
                                                        <option value="0">-- Pilih Jenis Prestasi --</option>
                                                        <option value="3">Tingkat Internasional</option>
                                                        <option value="2">Tingkat Nasional</option>
                                                        <option value="1">Tingkat Regional</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <label for="organisasi" class="mb-3">Organisasi Mahasiswa</label>
                                            <div class="btn btn-warning btn-sm float-end" id="btn-plus-input-organisasi"><i class='bx bx-plus' ></i></div>
                                            <div class="btn btn-dark btn-sm float-end" id="btn-min-input-organisasi"><i class='bx bx-minus' ></i></div>
                                            
                                            {% for pencapaian in data_pencapaian[1] %}
                                            <div class="row input-organisasi">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama Organisasi" id="organisasi" name="nama_organisasi" class="form-control" value="{{pencapaian.nama_organisasi}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="organisasi">
                                                        <option value="0">-- Pilih Jenis  --</option>
                                                        <option value="2" {% if (pencapaian.peran_organisasi == 2) %} selected="selected" {% endif %}>Pengurus</option>
                                                        <option value="1" {% if (pencapaian.peran_organisasi == 1) %} selected="selected" {% endif %}>Anggota</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            {% if not data_pencapaian[1] %}
                                            <div class="row input-organisasi">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama Organisasi" id="organisasi" name="nama_organisasi" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="organisasi">
                                                        <option value="0">-- Pilih Jenis  --</option>
                                                        <option value="2">Pengurus</option>
                                                        <option value="1">Anggota</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-md-12 mb-2">
                                            <label for="sertifikat" class="mb-3">Sertifikat</label>
                                            <div class="btn btn-warning btn-sm float-end" id="btn-plus-input-sertifikat"><i class='bx bx-plus' ></i></div>
                                            <div class="btn btn-dark btn-sm float-end" id="btn-min-input-sertifikat"><i class='bx bx-minus' ></i></div>

                                            {% for pencapaian in data_pencapaian[2] %}
                                            <div class="row input-sertifikat">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama Sertifikat" id="sertifikat" name="nama_sertifikat" class="form-control" value="{{pencapaian.nama_sertifikat}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="sertifikat">
                                                        <option value="0">-- Pilih Jenis Sertifikat --</option>
                                                        <option value="3" {% if (pencapaian.jenis_sertifikat == 3) %} selected="selected" {% endif %}>Sertifikat Keahlian</option>
                                                        <option value="2" {% if (pencapaian.jenis_sertifikat == 2) %} selected="selected" {% endif %}>Sertifikat Kursus</option>
                                                        <option value="1" {% if (pencapaian.jenis_sertifikat == 1) %} selected="selected" {% endif %}>Sertifikat Seminar/Webinar</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            {% if not data_pencapaian[2] %}
                                            <div class="row input-sertifikat">
                                                <div class="col-md-6">
                                                    <input placeholder="Nama Sertifikat" id="sertifikat" name="nama_sertifikat" class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <select class="form-control" name="sertifikat">
                                                        <option value="0">-- Pilih Jenis Sertifikat --</option>
                                                        <option value="3">Sertifikat Keahlian</option>
                                                        <option value="2">Sertifikat Kursus</option>
                                                        <option value="1">Sertifikat Seminar/Webinar</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <fieldset class="form-label float-end" style="width:100px;">
                                    {{ form.submit(class='form-control btn btn-primary') }}
                                </fieldset>
                            </div>
                            {% endif %}
                            

                        </div>
                    </div>
                </div>
            </form>
            
            <form action="{{ url_for("main_bp.input_batch") }}" method="post" id="form-import-batch" enctype="multipart/form-data">            
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0" class="card-header">Data Pencapaian Mahasiswa</h5>
                            <a href="/excel/download"s class="btn btn-sm btn-secondary float-end"><i class="bx bx-export"></i> Download Format</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control" name="file" type="file" id="formFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                        <div class="input-group-append">
                                            {# <button class="btn btn-success" id="btn-preview" type="submit">Preview</button> #}
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <fieldset class="form-label float-end" style="width:100px;">
                                        {{ form.submit(class='form-control btn btn-primary') }}
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- / Content -->
    
{% endblock %}

{% block additionalscripts %}
    
    <!-- Vendors JS -->
    <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
    {# <script src="{{ url_for('static', filename='vendor/libs/apex-charts/apexcharts.js') }}"></script> #}
    <!-- Page JS -->
    <script src="{{ url_for('static', filename='js/dashboards-analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/select2.min.js') }}"></script>

    <script>
        $(document).ready(function() {

            $('#form-single-import').removeClass('d-none')
            $('#form-import-batch').addClass('d-none')


            $('.my_selection').select2();
            $('#navbar-collapse .select2-selection__arrow').removeClass('select2-selection__arrow')
            $('#navbar-collapse .select2-selection').css('border', 0)

            $('#search_menu').on('change', function() {
                document.location.href = $(this).val()
            })
        });
        $('#button-single-import').on('click', function (e) {
            e.preventDefault()
            $('#form-single-import').removeClass('d-none')
            $('#form-import-batch').addClass('d-none')
            $(this).addClass('active')
            $('#button-import-batch').removeClass('active')
        })
        $('#button-import-batch').on('click', function (e) {
            e.preventDefault()
            $('#form-import-batch').removeClass('d-none')
            $('#form-single-import').addClass('d-none')
            $(this).addClass('active')
            $('#button-single-import').removeClass('active')
        })
        $('.nim').change(function() {

            document.location.href = '/basic_input/' + $('#select2-nim-container').text().split('-')[0]

            // $.get('/get_mhs?nim='+$('#select2-nim-container').text(), function(data) {
            //     $.each( data['data'], function( key, value ) {
            //         $('#nim2').val(value.nim)
            //         $('#nama_lengkap').val(value.nama_lengkap)
            //         $('#alamat').val(value.jln)
            //         $('#penghasilan_ortu').val(value.penghasilan_ayah)
            //         $('#pekerjaan_ortu').val(value.pekerjaan_ayah)
            //         $('#jk').val(value.jk)
            //         let state = (value.status_mahasiswa == 'A') ? 'Aktif' : 'Tidak Aktif';
            //         $('#status_mahasiswa').val(state)
            //         $('#batch_year').val(value.tahun_masuk)
            //     })
            // });

            // $.get('/get_achievement?nim='+$('#select2-nim-container').text(), function(data) {
            //     $.each( data, function( key, value ) {
            //         $('#prestasi').val(value.prestasi)
            //         $('#organisasi').val(value.organisasi)
            //         $('#sertifikat').val(value.sertifikat)
            //         $('#ipk').val(value.gpa_score)
            //     })
            // });
        })
        // INPUT PRESTASI 
        $('#btn-plus-input-prestasi').click(function() {
            el =
            `<div class="row mb-2 input-prestasi">
                <div class="col-md-6">
                    <input placeholder="Nama prestasi" id="prestasi" name="nama_prestasi" class="form-control">
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="prestasi">
                        <option value="0">-- Pilih Jenis Prestasi --</option>
                        <option value="3">Tingkat Internasional</option>
                        <option value="2">Tingkat Nasional</option>
                        <option value="1">Tingkat Regional</option>
                    </select>
                </div>
            </div>`;
            $(el).insertBefore($('.input-prestasi').first())
        })
        $('#btn-min-input-prestasi').click(function() {
            if ( $('.input-prestasi').length > 1 ) {
                $('.input-prestasi').first().remove()
            }  
        })
        // INPUT ORGANISASI 
        $('#btn-plus-input-organisasi').click(function() {
            el =
            `<div class="row mb-2 input-organisasi">
                <div class="col-md-6">
                    <input placeholder="Nama Organisasi" id="organisasi" name="nama_organisasi" class="form-control">
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="organisasi">
                        <option value="0">-- Pilih Jenis  --</option>
                        <option value="2">Pengurus</option>
                        <option value="1">Anggota</option>
                    </select>
                </div>
            </div>`;
            $(el).insertBefore($('.input-organisasi').first())
            console.log("masa 2 kali")
        })
        $('#btn-min-input-organisasi').click(function() {
            if ( $('.input-organisasi').length > 1 ) {
                $('.input-organisasi').first().remove()
            }  
        })
        // INPUT SERTIFIKAT 
        $('#btn-plus-input-sertifikat').click(function() {
            el =
            `<div class="row mb-2 input-sertifikat">
                <div class="col-md-6">
                    <input placeholder="Nama Sertifikat" id="sertifikat" name="nama_prestasi" class="form-control">
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="sertifikat">
                        <option value="0">-- Pilih Jenis Sertifikat --</option>
                        <option value="3">Sertifikat Keahlian</option>
                        <option value="2">Sertifikat Kursus</option>
                        <option value="1">Sertifikat Seminar/Webinar</option>
                    </select>
                </div>
            </div>`;
            $(el).insertBefore($('.input-sertifikat').first())
        })
        $('#btn-min-input-sertifikat').click(function() {
            if ( $('.input-sertifikat').length > 1 ) {
                $('.input-sertifikat').first().remove()
            }  
        })

        
    </script>

{% endblock %}