{% extends "layout_dashboard.jinja2" %}
{% block pagestyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/select2.min.css') }}" class="template-customizer-core-css" />
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/datatables.css') }}" class="template-customizer-core-css" />
{% endblock %}
{% block content %}
<!-- Basic Bootstrap Table -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Data management /</span> Data master</h4>
    <div class="card">
    <h5 class="card-header">Data Mahasiswa</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="prodi form-label">
                    {{ form.prodi(class='form-control my_selection') }}
                    {% if form.prodi.errors %}
                    <ul class="errors">
                        {% for error in form.prodi.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="batch_year form-label">
                    {{ form.batch_year(class='form-control my_selection') }}
                    {% if form.batch_year.errors %}
                    <ul class="errors">
                        {% for error in form.batch_year.errors %}
                        <li>{{ error }}</li>{% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="table-responsive text-nowrap container">
        <table class="table table-data-master">
        <thead>
            <tr>
            <th>No</th>
            <th>NIM</th>
            <th>Nama</th>
            <th>Jenis Kel.</th>
            <th>Semester</th>
            <th>Keterangan</th>
            <th></th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0 table-content">
            {% for mhs in mahasiswa %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{mhs['nim']}}</td>
                    <td>{{mhs['nama_lengkap']}}</td>
                    <td>{% if mhs['jk'] == 'L' %} Laki-laki {% else %} Perempuan {% endif %}</td>
                    <td>{{mhs['semester']}}</td>
                    <td>{{mhs['keterangan']}}</td>
                    <td>
                        <a type="button" class="btn btn-light text-dark" href="/basic_input/{{mhs['nim']}}">
                            <i class="bx bx-edit-alt me-1"></i> Lengkapi Data
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div>

</div>
<!--/ Basic Bootstrap Table -->
{% endblock %}
{% block additionalscripts %}
    <script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/datatables.js') }}"></script>
    
    <script>
        $(document).ready(function() {
            $('.my_selection').select2();
            $('#navbar-collapse .select2-selection__arrow').removeClass('select2-selection__arrow')
            $('#navbar-collapse .select2-selection').css('border', 0)
            $('#search_menu').on('change', function() {
                document.location.href = $(this).val()
            })
            let datatable = $('.table-data-master').DataTable(
                {"paging": true}
            );

            $('.prodi .my_selection').on('change', function() {
                if ($('.batch_year .my_selection').val() != 'None') {
                    document.location.href = '/data_master/' + $(this).val() + '/' + $('.batch_year .my_selection').val()
                } else {
                    document.location.href = '/data_master/' + $(this).val() + '/n'
                }
            })
            $('.batch_year .my_selection').on('change', function() {
                if ($('.prodi .my_selection').val() != 'None') {
                    document.location.href = '/data_master/' + $('.prodi .my_selection').val() + '/' + $(this).val()
                } else {
                    document.location.href = '/data_master/n' + '/' + $(this).val()
                }
            })

        });
        
    </script>

{% endblock %}
