{% extends "layout_dashboard.jinja2" %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Settings /</span> Notifications
    </h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" id="button-akun" href="javascript:void(0);"
                    ><i class="bx bx-user me-1"></i> Akun</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="button-reset" href="javascript:void(0);"
                    ><i class="bx bx-key me-1"></i> Ganti Password<a>
                </li>
            </ul>
            <div class="card" id="card-akun">
                <h5 class="card-header">Pengaturan Akun</h5>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label for="nama_lengkap">Nama Lengkap</label>
                                <input class="form-control" name="nama_lengkap" id="nama_lengkap" value="{{current_user['name']}}"/>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="jk">Jenis Kelamin</label>
                                <select class="form-select form-control" name="jk" id="jk">
                                    <option>Pilih Jenis Kelamin</option>
                                    <option {% if current_user.gender %}selected{% endif %}>Laki-laki</option>
                                    <option{% if not current_user.gender %}selected{% endif %}>Perempuan</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" id="email" value="{{current_user['email']}}"/>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="no_hp">No HP</label>
                                <input class="form-control" name="no_hp" id="no_hp" value="{{current_user['no_hp']}}"/>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Pilih Foto</label>
                                    <input class="form-control" type="file" id="formFile">
                                    <div id="defaultFormControlHelp" class="form-text">
                                        Ukuran file < 5MB
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card d-none" id="card-reset">
                <h5 class="card-header">Ganti Password</h5>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label for="password_lama">Masukkan Password Saat Ini</label>
                                <input class="form-control" name="password_lama" id="password_lama"/>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="password_baru">Masukkan Password Baru</label>
                                <input class="form-control" name="password_baru" id="password_baru"/>
                                <div id="defaultFormControlHelp" class="form-text">
                                    Minimal 8 karakter
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="konfirmasi_password">Konfirmasi Password</label>
                                <input class="form-control" name="konfirmasi_password" id="konfirmasi_password"/>
                            </div>
                        </div>
                        <button class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block additionalscripts %}
<script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
<script>
    $('#button-akun').on('click', function (e) {
        e.preventDefault()
        $('#card-akun').removeClass('d-none')
        $('#card-reset').addClass('d-none')
        $(this).addClass('active')
        $('#button-reset').removeClass('active')
    })
    $('#button-reset').on('click', function (e) {
        e.preventDefault()
        $('#card-reset').removeClass('d-none')
        $('#card-akun').addClass('d-none')
        $(this).addClass('active')
        $('#button-akun').removeClass('active')
    })
</script>
{% endblock %}
{% endblock %}